<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <!--/*@thymesVar id="books" type="java.util.List<com.store.knowledgebase.domain.Book>"*/-->
    <tr th:each="book: ${books}">
        <!--/*@thymesVar id="book" type="com.store.knowledgebase.domain.Book"*/-->
        <td th:text="${book.id}">123</td>
        <td th:text="${book.name}">XYZ</td>
        <td th:text="${book.price}">250.00</td>
    </tr>
</table>
</body>
</html>